{% extends "base.html" %}

{% block content %}
    <div class="w3-display-container w3-card-4 w3-white w3-mobile" style="width:800px;height:300px;margin: auto;">
        <div class="w3-display-middle">
          <p id="error_message" style="color: red;display: none"></p> 
          <p id="success_message" style="color: green;display: none">*Successfully uploaded.</p>  
          <input id="csv_file" class="w3-input w3-border" type="file" placeholder="One"><br/>
          <button id="upload_submit" class="w3-button w3-black w3-round">Upload</button>
          <div id="progress_bar" style="display: none;" class="w3-light-grey w3-round-xlarge">
              <div id="progress_bar_child" class="w3-container w3-black w3-round-xlarge"></div>
          </div>
        </div>
    </div>

    <script type="text/javascript">

      // upload extension check functon
      function hasExtension(inputID, exts) {
          var fileName = document.getElementById(inputID).value;
          return (new RegExp('(' + exts.join('|').replace(/\./g, '\\.') + ')$')).test(fileName);
      }
        
        // send file url to process      
        function upload_csv_to_process(filename) {
            $.ajax({
                 type: 'PUT',
                 url:  '/csv_process',
                 data: JSON.stringify({"file_name":filename}),
                 contentType: "application/json",
                 cache: false,
                 processData: false,
                 success: function(data) {
                    
                    if(data["status"] == "success") {
                        $("#error_message").css("color", "green");
                        $("#error_message").text("*Successfully uploaded.");
                        $("#error_message").show();
                        $("#progress_bar").hide();
                        $("#upload_submit").show();  
                    }
                    else{
                        $("#error_message").css("color", "red");
                        $("#error_message").text("*Problem in server pls contact +919567014289.");
                        $("#error_message").show();
                        $("#progress_bar").hide();
                        $("#upload_submit").show();
                    }
                 }
            });
        }

      // upload submit function
      $("#upload_submit").on("click", function(){
        
          var form_data = new FormData();
          form_data.append('file', $('#csv_file').prop('files')[0]);

             if($('#csv_file').prop('files')[0]) {
                        if (!hasExtension('csv_file', ['.csv', '.zip'])) {
                            console.log("not csv");
                            $("#error_message").css("color", "red");
                            $("#error_message").text("*Upload csv file.");
                            $("#error_message").show();
                            $("#progress_bar").hide();
                            $("#upload_submit").show();
                        }
                        else {
                          $("#error_message").hide();
                          $("#upload_submit").hide();
                          $("#progress_bar").show();
                          $('#progress_bar_child').css('width', '0%');
                          $("#progress_bar_child").text(0+"%");

                          let d = new Date();
                          let time_milliseconds = d.getTime();

                          var file_name = time_milliseconds+'_'+$('#csv_file').prop('files')[0].name;
                                
                                $.ajax({
                                     type: 'PUT',
                                     url:  '/url_generate',
                                     data: JSON.stringify({"file_name":file_name}),
                                     contentType: "application/json",
                                     cache: false,
                                     processData: false,
                                     success: function(data) {

                                         if(data['status'] == 'success'){
                                            var xmlhttp = new XMLHttpRequest();
                                            
                                            xmlhttp.onreadystatechange = function(data) {
                                              if (xmlhttp.readyState === 4) {
                                                if (xmlhttp.status === 200) {
                                                  console.log("UPLOAD SUCCESSFUL");
                                                }
                                                else {
                                                  console.log("UPLOAD FAILED");
                                                }
                                              }
                                            };

                                            xmlhttp.upload.onprogress = function(e) {
                                                if (e.lengthComputable) {
                                                    let percentComplete = (e.loaded / $('#csv_file').prop('files')[0].size) * 100;

                                                    
                                                    let rounded_percentage = percentComplete.toFixed(2);

                                                    $("#progress_bar_child").css("width", rounded_percentage+"%");

                                                    $("#progress_bar_child").text(rounded_percentage+"%");
                                                }
                                            };
                                            xmlhttp.onload = function (evt) {
                                                if (evt.target.responseText == "") {
                                                  upload_csv_to_process(data['file_name']);
                                                } else {
                                                    $("#error_message").css("color", "red");
                                                    $("#error_message").text("*Problem in server pls contact +919567014289.");
                                                    $("#error_message").show();
                                                    $("#progress_bar").hide();
                                                    $("#upload_submit").show();
                                                }  
                                            };    
                                            xmlhttp.open("PUT", data['url']);
                                            xmlhttp.setRequestHeader('Content-Type', 'application/octet-stream');
                                            xmlhttp.send($('#csv_file').prop('files')[0]);
                                         }
                                         else {
                                            $("#error_message").css("color", "red");
                                            $("#error_message").text("*Problem in server pls contact +919567014289.");
                                            $("#error_message").show();
                                            $("#progress_bar").hide();
                                            $("#upload_submit").show();
                                         }
                                     }
                                 });
                      }
                }
          else {
            $("#error_message").css("color", "red");
            $("#error_message").text("*Upload csv file.");
            $("#error_message").show();
            $("#progress_bar").hide();
            $("#upload_submit").show();
          }
      });
      
    </script>    

{% endblock %}
