{% extends "base.html" %}

{% block content %}
	
	
	<div class="w3-container">
	  <div id="filter_activity" style="display: none;">	 	  
	  <p style="display: inline-block">Activity Filter:</p>&nbsp;&nbsp;<select id="mylist" onchange="activity_filter()" class='form-control'>
		  <option>Reset</option>
		  <option>True</option>
		  <option>False</option>
	  </select>
	  <button id="delete_all_data" style="float: right;display: none;" class="w3-button w3-black" onclick="delete_all()">Delete all</button>
	  </div>
	  <br/><br/>	
	  <input style="display: none;" class="w3-input w3-border w3-round" type="text" id="search_input" onkeyup="searchTable()" placeholder="Search for sku.." title="Type in a name"><br/>
	  <img id="table_loading_gif" style="display: none;" src="/static/dot-transparent-animated-gif.gif" width="6%" height="2%">
	  <p id="no_data_message" style="display: none;" class="w3-display-middle">No data available.</p>
	  <p id="delete_all_data_message" style="display: none;color: green;">*Scheduled to delete all data. you can see the process status.</p>
	  <table id="product_table" class="w3-table w3-striped w3-border">
	    <thead>
		    <tr>
		      <th>Sku</th>
		      <th>Name</th>
		      <th>Description</th>
		      <th>Active</th>
		      <th></th>
		      <th></th>
		    </tr>
	    </thead>
	    <tbody></tbody>
	  </table>
	  <div id="edit_product_modal" class="w3-modal">
	      <div class="w3-modal-content w3-card-4">
	        <header class="w3-container w3-black"> 
	          <!-- <span onclick="document.getElementById('edit_product_modal').style.display='none'" 
	          class="w3-button w3-display-topright">&times;</span> -->
	          <h2>Edit Product Details</h2>
	        </header><br/>

	        <div class="w3-container">
	          	
	          <label>Sku</label>
	          <input id="edit_product_modal_sku" class="w3-input" type="text">

	          <label>Name</label>
	          <input id="edit_product_modal_name" class="w3-input" type="text">

	          <label>Description</label>
	          <input id="edit_product_modal_description" class="w3-input" type="text">
	          <label>Activity filter</label><br/>
	          <select id="edit_product_modal_activity_filter">
	          	<option value="True">True</option>
	          	<option value="False">False</option>
	          </select>
	          <p id="sku_fill_message" class="w3-hide" style="color: red;"><p>
	          <br/><br/>
	          <!-- <div class="w3-display-bottomright"> -->
	          	<img id="edit_modal_save_loading" class="w3-display-bottomright w3-hide" id="table_loading_gif" style="" src="/static/dot-transparent-animated-gif.gif" width="16%" height="15%">
	          <!-- </div> -->
	          <div id="edit_modal_save_cancel" class="w3-padding w3-display-bottomright">
	          	<button onclick="document.getElementById('edit_product_modal').style.display='none'" style="display: inline;" class="w3-button w3-black">Cancel</button>&nbsp;&nbsp;<button onclick="save_edit()" style="display: inline;" class="w3-button w3-black">Save</button>
	          </div>
	          
	        </div>
	      </div>
	  </div>
	</div>



	<script type="text/javascript">

		var to_know_table = false;

		$(document).ready(function(){
           
           $("#filter_activity").hide();

           $("#delete_all_data").hide();	

           $("#search_input").hide();

           $("#no_data_message").hide();

           $("#table_loading_gif").show();

           $('#product_table tbody tr').remove();
		  
		  // fetch data and sync to frontend table by limit and offset.	
		  function initiate_fetch_data(limit, offset){
		  	let limit_in = limit;
		  	let offset_in = offset;
		  	$.ajax({
		  	    type: 'PUT',
		  	    url:  '/products',
		  	    data: JSON.stringify({"limit":limit_in, "offset":offset_in}),
		  	    contentType: "application/json",
		  	    cache: false,
		  	    processData: false,
		  	    success: function(data) {
		  	    	// console.log(data);
		  	        if(data['status'] == 'unfinished'){

		  	        	for(let i=0;i<data['data'].length;i++){
		  	        		let active = data['data'][i]['active']?'True':'False';
		  	        		// console.log(data['data'][i]['sku']);
		  	        		$('#product_table tbody').append('<tr id='+data['data'][i]['sku']+'>\
		  	        			<td>'+data['data'][i]['sku']+'</td>\
		  	        			<td>'+data['data'][i]['name']+'</td>\
		  	        			<td>'+data['data'][i]['description']+'</td>\
		  	        			<td>'+active+'</td>\
		  	        			<td><button onclick=\"delete_row(\''+data['data'][i]['sku']+'\')\">Delete</button></td>\
		  	        			<td><button onclick=\"show_modal(\''+data['data'][i]['sku']+'\')\">Edit</button></td>\
		  	        			</tr>');
		  	        	}
		  	        	// console.log(data['data'][0]['sku']);
		  	        	
		  	        	limit_in = data['limit'];
		  	        	offset_in = data['offset'] + limit;
		  	        	// recall the fetch function if data is not finished
		  	        	initiate_fetch_data(limit_in, offset_in);
		  	        }
		  	        else {
		  	        	to_know_table = true;
		  	        	$("#table_loading_gif").hide();
		  	        	$("#search_input").show();
		  	        	$("#filter_activity").show();
		  	        	$("#delete_all_data").show();

		  	        	

		  	        	// console.log($('#product_table tbody tr').length);
		  	        	if(!$('#product_table tbody tr').length) {

		  	        		$("#filter_activity").hide();
		  	        		$("#delete_all_data").hide();	
		  	        		$("#search_input").hide();
		  	        		$("#product_table").hide();

		  	        		$("#no_data_message").show();


		  	        	}
		  	        	
		  	        }
		  	    },
		  	  })
		  }
		  // call the fetch function		  
		  initiate_fetch_data(500, 0);
		});

		// search by sku from the "product_table"
		function searchTable() {
		  if(to_know_table) {
		  	var input, filter, table, tr, td, i, txtValue;
		  	input = document.getElementById("search_input");
		  	filter = input.value.toUpperCase();
		  	table = document.getElementById("product_table");
		  	tr = table.getElementsByTagName("tr");

		  	for (i = 0; i < tr.length; i++) {
		  	  td = tr[i].getElementsByTagName("td")[0];
		  	  if (td) {
		  	    txtValue = td.textContent || td.innerText;
		  	    if (txtValue.toUpperCase().indexOf(filter) > -1) {
		  	      tr[i].style.display = "";
		  	    } else {
		  	      tr[i].style.display = "none";
		  	    }
		  	  }       
		  	}
		  }	
		  
		}

		// pop up to edit data 
		function show_modal(sku) {

			$("#edit_product_modal_sku").val($('#'+sku).find("td").eq(0).html());
			$("#edit_product_modal_name").val($('#'+sku).find("td").eq(1).html());
			$("#edit_product_modal_description").val($('#'+sku).find("td").eq(2).html());

			$("#edit_product_modal_activity_filter").val($('#'+sku).find("td").eq(3).html());

			document.getElementById('edit_product_modal').style.display='block';
		}

		// save the edited data
		function save_edit() {
			

			// console.log($("#edit_product_modal_sku").val());
			if ($("#edit_product_modal_sku").val() != "") {

				$("#edit_modal_save_cancel").removeClass("w3-show");
				$("#edit_modal_save_cancel").addClass("w3-hide");

				$("#edit_modal_save_loading").removeClass("w3-hide");
				$("#edit_modal_save_loading").addClass("w3-show");

				$("#edit_product_modal_sku").prop('disabled', true);
				$("#edit_product_modal_name").prop('disabled', true);
				$("#edit_product_modal_description").prop('disabled', true);
				$("#edit_product_modal_activity_filter").prop('disabled', true);

				$("#sku_fill_message").removeClass("w3-show");
				$("#sku_fill_message").addClass("w3-hide");

				  $.ajax({
				      type: 'PUT',
				      url:  '/update',
				      data: JSON.stringify({"sku":$("#edit_product_modal_sku").val().trim(), 
				      	"name": $("#edit_product_modal_name").val().trim(), 
				      	"description": $("#edit_product_modal_description").val().trim(), 
				      	"activity": $("#edit_product_modal_activity_filter").val().trim()}),
				      contentType: "application/json",
				      cache: false,
				      processData: false,
				      success: function(data) {
				      	// console.log(data);
				      	if(data['status'] == 'updated') {
				      		$("#sku_fill_message").css("color", "green");
				      		$("#sku_fill_message").text("*Successfully updated.");	
				      		$("#sku_fill_message").removeClass("w3-hide");	
				      		$("#sku_fill_message").addClass("w3-show");

				      		if($('#product_table tr#'+data['updated_data']['sku']).length){
				      			$('#product_table tr#'+data['updated_data']['sku']).remove();
				      		}				      		

				      		let active = (data['updated_data']['activity_status']=="true")?'True':'False';

				      		$('#product_table tbody').append('<tr id='+data['updated_data']['sku']+'>\
				      			<td>'+data['updated_data']['sku']+'</td>\
				      			<td>'+data['updated_data']['name']+'</td>\
				      			<td>'+data['updated_data']['description']+'</td>\
				      			<td>'+active+'</td>\
				      			<td><button onclick=\"delete_row(\''+data['updated_data']['sku']+'\')\">Delete</button></td>\
				      			<td><button onclick=\"show_modal(\''+data['updated_data']['sku']+'\')\">Edit</button></td>\
				      			</tr>');

				      		$("#edit_modal_save_loading").removeClass("w3-show");
				      		$("#edit_modal_save_loading").addClass("w3-hide");

				      		$("#edit_modal_save_cancel").removeClass("w3-hide");
				      		$("#edit_modal_save_cancel").addClass("w3-show");

				      		$("#sku_fill_message").removeClass("w3-show");
				      		$("#sku_fill_message").addClass("w3-hide");

				      		$("#edit_product_modal_sku").prop('disabled', false);
				      		$("#edit_product_modal_name").prop('disabled', false);
				      		$("#edit_product_modal_description").prop('disabled', false);
				      		$("#edit_product_modal_activity_filter").prop('disabled', false);

				      		document.getElementById('edit_product_modal').style.display='none';
				      		
				      	}
				      	else {
				      		$("#sku_fill_message").css("color", "red");
				      		$("#sku_fill_message").text("*Problem in server please contact +919567014289.");	
				      		$("#sku_fill_message").removeClass("w3-hide");	
				      		$("#sku_fill_message").addClass("w3-show");
				      	}
				      }
				    });  
			} else {
			  $("#sku_fill_message").css("color", "red");
			  $("#sku_fill_message").text("*Please fill SKU.");	
			  $("#sku_fill_message").removeClass("w3-hide");	
			  $("#sku_fill_message").addClass("w3-show");
			}
			
		}
		
		// delete single record of products table
		function delete_row(sku) {
			// console.log(sku);
			if(to_know_table) {
				let response = confirm("Delete the row?");
				
				
				if (response == true) {
				  to_know_table = false;
				  $("#search_input").hide();
				  $("#table_loading_gif").show();	  
				  $.ajax({
				      type: 'DELETE',
				      url:  '/delete?'+$.param({"sku": sku}),
				      contentType: "application/json",
				      success: function(data) {
				      	// console.log(data);
				      	if(data['status'] == 'deleted') {
				      		$('#product_table tr#'+sku).remove();
				      		to_know_table = true;
				      		$("#table_loading_gif").hide();
				      		$("#search_input").show();
				      		
				      	}
				      }
				    });  
				} else {
				  
				}
			}				
		}

		// delete all records of the user
		function delete_all() {
						
			if(to_know_table) {

				let response = confirm("Delete all the data?");
				if (response == true) {
					to_know_table = false;

					$("#delete_all_data").hide();
					$("#filter_activity").hide();
					$("#search_input").hide();
					$("#table_loading_gif").show();	  
					$.ajax({
					    type: 'PUT',
					    url:  '/delete_all',
					    contentType: "application/json",
					    cache: false,
					    processData: false,
					    success: function(data) {
					    	
					    	// console.log(data);

					    	if(data['status'] == 'deleted') {
				  	        	// desable edit and row delete.
				  	        	$("#product_table tbody tr").each(function() {
		  	        	            $(this).find("button").prop('disabled', true);
		  	        	        });

					    		$("#delete_all_data").hide();
					    		$("#delete_all_data_message").show();
					    		$("#table_loading_gif").hide();
					    		$("#search_input").show();
					    		$("#filter_activity").show();

					    		to_know_table = true;						    								    		
					    	}
					    	else {
					    		
					    	}
					    }
					  });

					} else {
						  
					}
				}
					
		}	
			   

		// drop down filter for activity column 
		function activity_filter() {
		  var input, filter, table, tr, td, i;
		  input = document.getElementById("mylist");
		  filter = input.value.toUpperCase();
		  table = document.getElementById("product_table");
		  tr = table.getElementsByTagName("tr");
		  for (i = 0; i < tr.length; i++) {

		    td = tr[i].getElementsByTagName("td")[3];
		    if(td) {
			    if(filter != 'RESET') {
			    	if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
			    	  tr[i].style.display = "";
			    	} else {
			    	  tr[i].style.display = "none";
			    	}	
			    }
			    else{
			    	tr[i].style.display = "";
			    }	
		     } 
		    }       
		  }
		

	</script>

{% endblock %}