{% extends "base.html" %}
  
{% block content %}
    <div class="w3-container">
      <p id="no_data_message" style="display: none;" class="w3-display-middle">No data available.</p>
	  <table id="upload_status_table" class="w3-table w3-striped w3-border">
	    <thead>
		    <tr>
		      <th>Date</th>
		      <th>Time</th>
		      <th>Type</th>
		      <th>Percentage of progress</th>
		      <th></th>
		    </tr>
	    </thead>
	    <tbody></tbody>
	  </table>
	</div>

	<script type="text/javascript">
		
		$(document).ready(function(){
		  // fetch data by limit and offset	
		  function initiate_fetch_data(limit, offset){
		  	let limit_in = limit;
		  	let offset_in = offset;
		  	$.ajax({
		  	    type: 'PUT',
		  	    url:  '/upload_status',
		  	    data: JSON.stringify({"limit":limit_in, "offset":offset_in}),
		  	    contentType: "application/json",
		  	    cache: false,
		  	    processData: false,
		  	    success: function(data) {

		  	        if(data['status'] == 'unfinished'){

		  	        	for(let i=0;i<data['data'].length;i++){
		  	        		$('#upload_status_table tbody').append('<tr id='+data['data'][i]['job_id']+'>\
		  	        			<td>'+data['data'][i]['date']+'</td>\
		  	        			<td>'+data['data'][i]['time']+'</td>\
		  	        			<td>'+data['data'][i]['type']+'</td>\
		  	        			<td id=percentage'+data['data'][i]['job_id']+'>'+data['data'][i]['percentage']+'</td>\
		  	        			<td id=refresh'+data['data'][i]['job_id']+'><button id=button'+data['data'][i]['job_id']+' '+data['data'][i]['refresh']+' onclick=\"refresh_job(\''+data['data'][i]['job_id']+'\')\">Refresh</button><p id=loading'+data['data'][i]['job_id']+' style="display:none;color:black;margin-top:auto;">Loading . . </p></td>\
		  	        			</tr>');
		  	        	}
		  	        	
		  	        	limit_in = data['limit'];
		  	        	offset_in = data['offset'] + limit;
		  	        	// recall the function if data is not finished
		  	        	initiate_fetch_data(limit_in, offset_in);
		  	        }
		  	        else {
		  	        	if(!$('#upload_status_table tbody tr').length) {

		  	        		$("#upload_status_table").hide();

		  	        		$("#no_data_message").show();


		  	        	}
		  	        }
		  	    },
		  	  })
		  }
		  // call the fetch function		  
		  initiate_fetch_data(10, 0);
		});

		// update status data
		function refresh_job(job_id){

			$('#button'+job_id).hide();
			$('#loading'+job_id).show();

	        $.ajax({
	            type: 'PUT',
	            url:  '/upload_status_refresh',
	            data: JSON.stringify({"job_id":job_id}),
	            contentType: "application/json",
	            cache: false,
	            processData: false,
	            success: function(data) {
	            	$('#percentage'+job_id).text(data['percentage']+'%');
	            	if(data["percentage"] == "100.0"){
	            		$('#button'+job_id).prop('disabled', true);
	            	}
	            	$('#loading'+job_id).hide();
	            	$('#button'+job_id).show();
	            }
	        });

		}
	</script>

{% endblock %}		  